<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <p id="para"></p>
    <button type="button" onclick="functiaMea()"></button>
    <script>

        function arataParagraf(x){
            return document.getElementById('para').innerHTML=x
        }

        function calculator(num1,num2,myCallback){
            let sum=num1+num2
            myCallback(sum)
        }

        calculator(5,5,arataParagraf)
    </script>


</body> 
</html>