/* pentru nav-bar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}



h1{
    color: goldenrod;
    padding: 2.6rem;
}
.link-el{
    text-decoration: underline;
    font-size: 1rem;
    display: flex;
    padding: 5px 10px;
    
    top: 55px;
    right: 60rem;
}

.link-el a:not(:last-child){
    margin-right: 20px;
}
.link-el a{
    color: white;
}

.nume{
    color: red;
}

.iconite {
    display: flex;
    position: absolute;
    margin-left: 1400px;
  }

.iconite p{
    top: 13px;
    font-size: larger;
}
  .iconite a {
    margin: 0 40px;
    top: 10px; /* Adjust the margin as per your desired spacing */
  }

.iconite p:not(:last-child){
    padding-right: 10px;
}
  
  /* Additional styling for the icon elements if needed */
  .iconite i {
    font-size: 30px; /* Adjust the font size as per your requirement */
  }

i{
    color: green;
}



a:hover{
    cursor: pointer;
    color: red;
}

.nav-bar{
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

input[type="text"]{
    right: 100px;
    width: 900px;
    height: 40px;
    border: none;
    top: 10px;
    border-radius: 2px;
    
    
}
/* pentru nav-bar*/

#user:hover{
    text-decoration: underline;
}


.preferatText{
    color: black;
    text-align: center
}

.linie{
    border: 2px solid black;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7px;
}
.comenzi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    cursor: pointer;
}

.produse {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.produse img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
}

.titlu {
    font-size: 1.2rem;
    margin: 10px 0;
}

.imagine {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.comenzi img {
    max-width: 100%;
    max-height: 100%;
}

.comenzi p {
    margin: 5px 0;
}

.cumpara{
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.inima{
    position: absolute;
    top: 0;
    padding-left: 15rem;
    font-size: 30px;
    cursor: pointer;
}

.buton-sterge{
        border: none;
        background-color: white;
        padding-top: 5px;
        font-size: 30px;
        cursor: pointer;
}

.link{
    text-decoration: none;
}

.elemente{
    background-color: black;
    padding-bottom: 30px;
  }
    footer {
        position: absolute;
        padding-top: 400px;
        margin-bottom: 0;
        width: 100%; 
        color: white;
        text-align: center;
    }
    footer h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-top: 30px;
    }
    footer p {
      font-size: 16px;
    }
  